# export SECRET=krRkGF2rthrT3DScCwXY4Jc_z9ldSQFw32OJt1iKFh0=
# export MONGO_URI=localhost
# export MONGO_PORT=27017
export SECRET=9nRJVpGklniRuLRwJCZH-GPvY-7tmhBcE2kaWWND71U=
export MONGO_URI=oitsjustjose.com
export MONGO_PORT=27017
export MGMT_KEY=dv4idJXGpbrfXoF*tY.Xk*uTbZFo-gkJH3X3aoePFnQpKmBKNaoY.GPxNhaC.oR7cHN_wXJzJBa_Ea_29K9-iyq8WFbx7ua3r_rm3k37FezQ*cc*YAZw64p6Nqrh!h2Ncoir_Ae*7p!7aCciBaaVaaEFiBaxz8eg6FF6UsHxTLzXda9eo2BBmWChJz9c-ZBaF9VEyUDR